/* breakpoints from device width : 0 - 480 - 768 - 1024 - 1200 px */


/* after setting BP with MQ, reduce window to smaller size and fix whats broken */


/* ...resolve/reduce weirdness */
@media only screen and (max-width: 2600px) {
       img {
    width: 160px;
    height: 160px;
        top: 50%;
    left: 41%;
}
}

/* Big tablet to width smaller than the row px of 100%: from 1024 to 1200 : width for ipad in landscape mode */


/* 1st, reduce screen to the lowest width:  1024/1023 */



@media only screen and (max-width: 1200px) {
    .banner {
    height: 20vh;
}
    
    
    img {
    width: 150px;
    height: 150px;
    top: 38%;
    left: 43%;
}

    h1 {
    font-size: 180%;
    margin-bottom: 15px;

}
    
    h2 {
    font-size: 140%;
    margin-bottom: 25px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;

}    
    
/*    remove sticky class using javascript*/

}


/* minify: font size */


/* small tablet to big tablets: from 768/767 to 1023px : width for ipad in portrait mode */


/* 1st, reduce screen to the lowest width:  768 */

@media only screen and (max-width: 1023px) {
    /* only change the base font, as all other fonts was defined other font in percentages. */
    /* Hence, all other font (in %) will automatically decrease */
    body {
        font-size: 18px;
    }
    /* reduce white-space */
    section {
        padding: 10px 0;
            width: 92%;
    margin-left:4%;
    }
    /* add horizontal padding/white-space*/
    .row {
        padding: 0 2%;
    } 
    
    .banner {
    height: 15vh;
}
        .title {
    margin-top: 70px;
}
    
    img {
    width: 120px;
    height: 120px;
        top: 25%;
    left: 41%;
}

    h1 {
    font-size: 160%;
    margin-bottom: 10px;

}
    
    h2 {
    font-size: 130%;
    margin-bottom: 20px;
}
    
    h3 {
    margin-top: 10px;
    margin-bottom: 5px;

}
  
    }

/* change styles & layout: columns to stack/rows */


/* small phones to small tablets: from 481 to 767px : width for ipad */


/* 1st, reduce screen to the lowest width: 481/480 */

 @media only screen and (max-width: 767px) {
    /* only change the base font, as all other fonts was defined other font in percentages. */
    /* Hence, all other font (in %) will automatically decrease */
    body {
        font-size: 16px;
    }
    /* reduce vertical white-space */
    section {
        padding: 10px 0;
            width: 96%;
    margin-left:2%;

    }
     add horizontal padding
    .row {
        padding: 0 4%;
    } 
     
   img {
    width: 110px;
    height: 110px;
        top: 25%;
    left: 41%;
}
   
  
    /* .long-copy {
        /* remove padding */
    /*    width: 100%;
        /* center the paragraphs */
    /*    margin-left: 0%;
    }
    h1 {
        font-size: 140%;
    }
    h2 {
        font-size: 150%;
    }

/*
    
*/
} 


/* minify */


/* 1st, reduce screen to the lowest width:  */


/* small phones: from 0 to 480px : width for old iphones, iphone5 etc*/

 @media only screen and (max-width: 480px) {
    /* reduce padding btn sections */
    /* reduce vertical white-space */
     section {
    padding: 5px 0;
 width: 98%;
    margin-left:1%;
}
    
    }