/* Cross Browser TEsting: use Autoprefixer extension to Edit-Auto Prefix Selection*/


/* ---------------------------------- */


/* BASIC SET UP */


/* ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
    height: 100vh;
    max-width: 100%;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* remove horizontal scroll bar */
    overflow-x: hidden;
    /*    font-family: 'Roboto', 'Arial', sans-serif;*/
}


/* ---------------------------------- */


/* REUSABLE COMPONENTS */


/* ---------------------------------- */

.row {
    display: flex;
    max-width: 100%;
    /* center the rows */
    margin: 0 auto;
}

/*PROFILE*/
section {
    width: 70%;
    margin-left:15%;
}


/* clear floats with clearfix and add this class on parent of the floating elements*/

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ---------------------------------- */


/* HEADER */


/* ---------------------------------- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
    opacity: .9;
border-bottom: 1px solid #eee;
}

nav ul {
    list-style-type: none;
    margin-top: 15px;
/*border-bottom: 1px solid #eee;   */
}

nav ul li {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 20px;
   text-align: center;    
}

nav ul li a{
    display: block;
    color:#000;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;;
}

nav ul li a:hover,
nav ul li a:active {
    background-color: antiquewhite;
    border-radius: 4px;
}

.banner {
    background-image: url(vintage-concrete.png);
    position: relative;
    height: 25vh;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 45%;
}

.title {
    text-align: center;
    margin-top: 90px;
}

.title:before,
.title:after {
    content: '';
    display: table;
    clear: both;
}


/* Top Grey Line */

.title {
    border-bottom: 3px solid #eeeeee;
}


/* Middle Grey Line */

.right {
    border-left: 3px solid #eeeeee;
}


/* ---------------------------------- */


/* HEADINGS */


/* ---------------------------------- */

h1,
h2,
h4
{
    text-transform: uppercase;
}

h1 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 200%;
    word-spacing: 4px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2,
h3,
h4,
h5 {
    color: #666;
}

h2 {
    font-weight: 300;
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h4 {
    font-weight: 400;
    font-size: 110%;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    margin-bottom: 5px;
        padding: 10px;

}

h5 {
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 5px;
        font-size: 70%;
}

.profile h3 {
    text-align: center;
}

/* PARAGRAPHS */

p,
ul li {
    font-size: 80%;
    /* line ht should be btn 120% and 145% */
    line-height: 145%;
    font-weight: 300;
}

ul li {
    margin-left: 4%;
}

ul li:last-child {
    margin-bottom: 20px;
}

.education {
    margin-bottom: 25px;
}


/*style dates, html code for | & / $ - */